langchain
langgraph
langchain_core
langchain_groq
ipykernel
python-dotenv
langchain_community
pypdf
arxiv
pymupdf
bs4
wikipedia
langchain_text_splitters
langchain-openai
chromadb
ollama
langchain-ollama
faiss-cpu
chromadb
langchain_chroma
langchain_nvidia_ai_endpoints
tqdm
langserve[all]
langgraph
duckduckgo-search
ddgs
langchain-cohere
langchain_tavily
streamlit
rich[jupyter]